<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">

<th:block layout:fragment="html_head">
    <title>장바구니</title>
    <style>
        .underline {
            border-left-width: 0;
            border-right-width: 0;
            border-top-width: 0;
            border-bottom-width: 2px;
        }
    </style>
    <script>
        $(document).ready(function (){

            $('#orderSelected').click(function () {
                var form = document.createElement("form");
                form.setAttribute("method", "post");
                form.setAttribute("action", "/orders/orderform");

                var checkedAny = false;
                $("input[name=checkSub]:checked").each(function () {
                    var productId = this.id;
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", "productId");
                    hiddenField.setAttribute("value", productId);

                    form.appendChild(hiddenField);
                    checkedAny = true;
                });

                if(!checkedAny){
                    alert("상품이 선택되지 않았습니다.");
                    return false;
                }

                document.body.appendChild(form);
                form.submit();
            });

            $("#deleteAll").click(function() {
                $.ajax({
                    url : '/api/basket',
                    method : 'delete',
                    success : function (data) {
                        if(data == "ok"){
                            $("#listBody").empty();
                            $("#listBody").append('<tr style="text-align: center;"><td colspan="6">장바구니에 담긴 상품이 없습니다.</td></tr>');
                        }
                    }
                });

            });

            $("#checkAll").click(function(){
                if($("#checkAll").prop("checked")){
                    $("input[name=checkSub]").prop("checked", true);
                }else{
                    $("input[name=checkSub]").prop("checked", false);
                }
            });

        });

        function orderOne(id){
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/orders/orderform");

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "productId");
            hiddenField.setAttribute("value", id);

            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
        }
    </script>

    <script>
        function deleteBasketItem(productId){
            $.ajax({
                url : '/api/basket/'+productId,
                method : 'delete',
                success : function (data) {
                    $("#tr_"+productId).remove();
                    if(data == 0){
                        $("#listBody").append('<tr style="text-align: center;"><td colspan="6">장바구니에 담긴 상품이 없습니다.</td></tr>');
                    }
                }
            });
        }

        function updateBasketlist(productId, quantity){
            var quantity = $('#product_cno_'+productId).val();
            var price = $('#productPrice').val();
            var totPrice = price*quantity;
            $.ajax({
                url : '/api/basket',
                method : 'put',
                data : {"productId" : productId, "quantity" : quantity},
                dataType: "text",
                success : function (data) {
                    $("#totPrice").text(totPrice);
                    $("#cnt").text(quantity);
                }
            });
        }
    </script>
</th:block>
<th:block layout:fragment="body_main">
    <br><br>
    <div style="margin-left: 75px"><h2>장바구니</h2></div>
    <hr style="padding-bottom: 40px">
    <div class="container-fluid" style="width: 60%;">
        <form id="basketForm" th:action="@{/orders/orderform}" method="post">
        <table class="table" style="text-align: center;">
            <thead class="thead-dark">
                <tr>
                    <td scope="col"><input type="checkbox" id="checkAll" aria-label="Checkbox for following text input"></td>
                    <td scope="col" colspan="3"><small>제품</small></td>
                    <td scope="col"><small>수량</small></td>
                    <td scope="col"></td>
                </tr>
            </thead>
            <tbody id="listBody">
                <tr style="text-align: center;" th:if="${#lists.isEmpty(list)}">
                    <td colspan="6">장바구니에 담긴 상품이 없습니다.</td>
                </tr>
                <tr th:if="${not #lists.isEmpty(list)}" th:each="item : ${list}" th:attrappend="id='tr_'+${item.product.id}">
                    <td style="vertical-align: middle">
                        <input type="checkbox" name="checkSub" aria-label="Checkbox for following text input" th:attrappend="id=${item.product.id}">
                    </td>
                    <td style="vertical-align: middle"><img class="img-thumbnail" width="100" height="100" th:src="@{${item.product.imagePath}}"></td>
                    <td style="vertical-align: middle; font-family: Consolas, 돋움;"><h3 th:text="${item.product.name}"></h3></td>
                    <td style="vertical-align: middle">
                        <span id="price" th:text="${#numbers.formatCurrency(item.product.price)}"></span>
                        <span> x </span>
                        <span id="cnt" th:text="${item.quantity}">1</span>
                        <span> = </span>
                        <span id="totPrice" th:text="${#numbers.formatCurrency(item.product.price*item.quantity)}"></span>
                        <input type="hidden" name="productId" th:value="${item.product.id}">
                        <input type="hidden" th:id="productPrice" th:value="${item.product.price}">
                    </td>
                    <td style="vertical-align: middle" width="10%">
                        <div style="padding-bottom: 10px">
                            <input class="underline" type="text" th:attrappend="id='product_cno_'+${item.product.id}" style="text-align: center" size="2" th:value="${item.quantity}">
                        </div>
                        <div>
                            <h5><a href="javascript:void(0);" class="badge badge-dark" role="button" aria-pressed="true"
                                   th:onclick="'javascript:updateBasketlist(' + ${item.product.id} +','+ ${item.quantity} + ')'"><small>변경</small></a></h5>
                        </div>
                    </td>
                    <td style="vertical-align: middle" width="10%">
                        <div style="padding-bottom: 7px">
                            <button type="button" class="btn btn-dark btn-sm" th:onclick="'javascript:orderOne(' + ${item.product.id} + ')'"><small>주문하기</small></button>
                        </div>
                        <div>
                            <a href="javascript:void(0);" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true"
                               th:onclick="'javascript:deleteBasketItem(' + ${item.product.id}  + ')'" id="deleteButton" name="deleteButton"><small>삭제</small></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--<div th:if="${not #lists.isEmpty(list)}" th:each="item : ${list}">
            상품구매금액 <span id="purchaseTot"></span>
            + 배송비 <span>0</span>
            = 합계 : <strong><span id="orderTot"></span></strong>
        </div>-->
        <div class="text-right" style="padding-top: 20px; padding-bottom: 20px">
            <button type="button"class="btn btn-outline-secondary" id="deleteAll" name="deleteAll" >
                                                                                <small>장바구니 비우기</small></button>
        </div>
        <div class="text-center" style="padding-top: 30px; padding-bottom: 80px">
            <button type="submit" class="btn btn-dark btn-sm active"><small>전체상품주문</small></button>
            <button type="button" id="orderSelected" class="btn btn-dark btn-sm active"><small>선택상품주문</small></button>
            <a th:href="@{/products}" class="btn btn-dark btn-sm active" role="button" aria-pressed="true"><small>쇼핑계속하기</small></a>
        </div>
        </form>
    </div>
</th:block>