<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">

<th:block layout:fragment="html_head">
    <title>주문 내역</title>
    <script>
        $.datepicker.setDefaults({
            dateFormat: 'yy-mm-dd',
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            showMonthAfterYear: true,
            yearSuffix: '년'
        });

        $(function() {
            $("#datepicker1, #datepicker2").datepicker();
        });

    </script>
</th:block>
<th:block layout:fragment="body_main">
    <br><br>
    <div style="text-align: center"><h2><strong>내 주문 내역</strong></h2></div>
    <hr style="padding-bottom: 40px">
    <div class="container-fluid" th:if="${isGuestAccess} == true">
        <div class="container login">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h6 class="my-0 font-weight-normal">이미 등록된 고객입니다.</h6>
                    </div>
                    <div class="card-body">
                        <form method="post" id="userForm" th:action="@{/users/login}" action="#">
                            <div style="text-align: left; padding-bottom: 25px;">
                                <label for="email"><small>이메일</small></label>
                                <input type="text" class="form-control" id="email" name="email">
                                <div class="formMsg">
                                    <span></span>
                                </div>
                            </div>
                            <div style="text-align: left; padding-bottom: 25px;">
                                <label for="password"><small>비밀번호</small></label>
                                <input type="password" class="form-control" id="password" name="password">
                                <div class="formMsg">
                                    <span></span>
                                </div>
                            </div>
                            <div style="text-align: left; padding-bottom: 20px;">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                                <span><small>내 정보 기억하기</small></span>
                            </div>
                            <button type="submit" class="btn btn-lg btn-block btn-light"><small>로그인</small></button>
                            <p style="padding-top: 5px"><small>또는</small></p>
                            <button type="button" class="btn btn-lg btn-block btn-primary" onclick="location.href='/sign-in/facebook'"><small>FACEBOOK 계정으로 로그인하기</small></button>
                        </form>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h6 class="my-0 font-weight-normal">비회원으로 주문 하셨습니까?</h6>
                    </div>
                    <div style="padding-top: 25px"><small>주문번호 혹은 수령인과 휴대폰번호로 조회하실 수 있습니다.</small></div>
                    <div class="card-body">
                        <form th:action="@{/orders}" method="get" th:object="${orderSearch}">
                            <div style="text-align: left; padding-bottom: 25px;">
                                <label for="orderNo"><small>주문번호</small></label>
                                <input type="text" class="form-control" id="orderNo" name="orderNo" th:field="*{orderNo}">
                            </div>
                            <p><small>또는</small></p>
                            <table style="width: 100%;">
                                <tr>
                                    <td style="text-align: left; width: 35%"><label for="receiver"><small>수령인</small></label></td>
                                    <td style="text-align: left;"><label for="phone1"><small>휴대폰번호</small></label></td>
                                </tr>
                                <tr>
                                    <td style="width: 35%; padding-right: 20px"><input type="text" class="form-control" id="receiver" name="receiver" th:field="*{receiver}"></td>
                                    <td>
                                        <div class="form-row">
                                            <div class="col">
                                                <select class="custom-select mr-sm-2" id="phone1" th:field="*{phone1}">
                                                    <option value="010">010</option>
                                                    <option value="011">011</option>
                                                    <option value="016">016</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control" th:field="*{phone2}">
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control" th:field="*{phone3}">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div style="padding-top: 50px">
                                <button type="submit" class="btn btn-lg btn-block btn-light"><small>조회하기</small></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="width: 45%;" th:if="${isGuestAccess} == false">
        <div style="padding-bottom: 90px">
            <form method="get" th:action="@{/orders}" th:object="${orderSearch}">
                <div class="form-group row">
                    <label for="order_no" class="col-sm-2 col-form-label">주문번호</label>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" id="order_no" th:field="*{orderNo}">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="datepicker1" class="col-sm-2 col-form-label">주문일자</label>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" id="datepicker1" class="form-control" th:field="*{dateFrom}" readonly>
                        </div>
                        <div class="col">
                            <input type="text" id="datepicker2" class="form-control" th:field="*{dateTo}" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="status" class="col-sm-2 col-form-label">주문상태</label>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-check">
                                <select id="status" class="form-control" th:field="*{status}">
                                    <option value="3">주문완료/배송대기</option>
                                    <option value="4">배송중</option>
                                    <option value="5">배송완료</option>
                                    <option value="6">주문취소</option>
                                    <option value="7">반품</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="padding-top: 20px;">
                    <button type="submit" class="btn btn-dark">검색하기</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid" style="width: 65%;" th:if="${isGuestAccess} == false">
        <table class="table" style="text-align: center;">
            <thead class="thead-dark">
            <tr>
                <td scope="col">주문번호</td>
                <td scope="col">주문일자</td>
                <td scope="col" colspan="2">주문내역</td>
                <td scope="col">수량</td>
                <td scope="col">결제금액</td>
                <td scope="col">수령자</td>
                <td scope="col">주문처리상태</td>
            </tr>
            </thead>
            <tbody th:if="${#lists.isEmpty(pager)}">
                <tr>
                    <td colspan="8">주문 내역이 없습니다.</td>
                </tr>
            </tbody>
            <tbody th:if="${not #lists.isEmpty(list)}" th:each="order : ${list}">
                <tr>
                    <td th:text="${order.orderNo}"></td>
                    <td th:text="${#temporals.format(order.regtime, 'yyyy-MM-dd HH:mm')}"></td>
                    <td colspan="2">주문내역</td>
                    <td>수량</td>
                    <td>결제금액</td>
                    <td th:text="${order.receiver}"></td>
                    <td th:text="${order.status}"></td>
                </tr>
                <tr th:each="op : ${order.orderProducts}">
                    <td colspan="2"></td>
                    <td><img class="img-thumbnail" width="100" height="100" th:src="@{${op.product.imagePath}}"></td>
                    <td th:text="${op.product.name}"></td>
                    <td th:text="${op.quantity}"></td>
                    <td th:text="${op.price}"></td>
                    <td colspan="2"></td>
                </tr>
            </tbody>
        </table>
    </div>
</th:block>