<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">

<th:block layout:fragment="html_head">
    <title>상품 검색</title>
    <style>
        #searchDiv {
            border-radius: 20px;
            background: #f8f8f8;
            padding-left: 40px;
            padding-right: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .product-list {
            padding-top: 10px;
            padding-left: 70px;
            list-style: none;
            font-size: 19px;
            line-height: 3em;
            font-family: Consolas, 돋움;
        }
        .card {
            margin: 10px;
        }
    </style>
    <script>
        function addWishlistItem(productId){
            $.ajax({
                url : '/api/wishlist/'+productId,
                method : 'post',
                dataType: "text",
                success : function (data) {
                    if(data == "ok") {
                        alert("위시리스트에 추가되었습니다.");
                    }else if(data == "exist"){
                        alert("이미 위시리스트에 존재하는 상품입니다.");
                    }else if(data == "guest"){
                        alert("로그인 하시면 위시리스트를 추가하실 수 있습니다.");
                    }
                }
            });
        }
    </script>
</th:block>
<th:block layout:fragment="body_main">
    <br><br>
    <div style="margin-left: 75px"><h2>상품 검색</h2></div>
    <hr style="padding-bottom: 40px">
    <div class="container-fluid" style="width: 60%;">
        <div id="searchDiv">
            <form method="get" th:action="@{/products}">
                <div class="form-group row">
                    <label for="keyword" class="col-sm-2 col-form-label">검색어</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="keyword" name="keyword" th:value="${productSearch.keyword}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="price" class="col-sm-2 col-form-label">판매가격대</label>
                    <div class="col">
                        <input type="text" class="form-control" id="price" name="minPrice" th:value="${productSearch.minPrice}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="price2" name="maxPrice" th:value="${productSearch.maxPrice}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputState" class="col-sm-2 col-form-label">검색정렬기준</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <select id="inputState" class="form-control" name="sort">
                                <option value="favor">판매량순</option>
                                <option value="recent">최신순</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="padding-top: 20px;">
                    <button type="submit" class="btn btn-dark">검색하기</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid" style="width: 60%; padding-top: 90px;">
        <div style="text-align: center; padding-bottom: 40px">
            총 <span th:text="${pager.getTotalCnt()}"></span> 개 의 상품이 검색되었습니다.
            <hr style="padding-bottom: 40px">
            <a th:href="@{/products(sort='favor', keyword=${productSearch.keyword}, minPrice=${productSearch.minPrice}, maxPrice=${productSearch.maxPrice})}">판매량순</a>&nbsp;&nbsp;
            <a th:href="@{/products(sort='recent', keyword=${productSearch.keyword}, minPrice=${productSearch.minPrice}, maxPrice=${productSearch.maxPrice})}">최신순</a>
        </div>
        <div class="row justify-content-md-center">
            <div class="col">
                <div class="row">
                    <div class="card" style="width: 31%; margin: 10px" th:if="${not #lists.isEmpty(list)}" th:each="product : ${list}">
                        <div style="text-align: right; margin: 5px">
                            <a href="javascript:void(0);" th:onclick="'javascript:addWishlistItem(' + ${product.id} + ')'">
                                <svg class="i-heart" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path d="M4 16 C1 12 2 6 7 4 12 2 15 6 16 8 17 6 21 2 26 4 31 6 31 12 28 16 25 20 16 28 16 28 16 28 7 20 4 16 Z" />
                                </svg>
                            </a>
                        </div>
                        <a th:href="@{'/products/' + ${product.id}}">
                            <img class="card-img-top" th:src="@{${product.imagePath}}">
                        </a>
                        <div class="card-body">
                            <h6><span class="badge badge-pill badge-success">best</span>&nbsp;<span class="badge badge-pill badge-info">new</span></h6>
                            <a th:href="@{'/products/' + ${product.id}}">
                                <h3 class="card-title"><strong th:text="${product.name}"></strong></h3>
                            </a>
                            <p class="card-text"><h4 th:text="${product.price}"></h4></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav style="padding-top: 50px; padding-bottom: 80px;">
            <ul class="pagination justify-content-center" th:if="${not #lists.isEmpty(list.getContent())}">
                <li class="page-item" th:if="${pager.hasPrev()} == true">
                    <a class="page-link" th:href="@{/products(categoryId=${productSearch.categoryId}, page=${pager.startPage-1}, sort=${productSearch.sort}, keyword=${productSearch.keyword}, minPrice=${productSearch.minPrice}, maxPrice=${productSearch.maxPrice})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="page-link" th:href="@{/products(categoryId=${productSearch.categoryId}, page=${i}, sort=${productSearch.sort}, keyword=${productSearch.keyword}, minPrice=${productSearch.minPrice}, maxPrice=${productSearch.maxPrice})}" th:text="${i}"></a></li>
                <li class="page-item" th:if="${pager.hasNext()} == true">
                    <a class="page-link" th:href="@{/products(categoryId=${productSearch.categoryId}, page=${pager.endPage+1}, sort=${productSearch.sort}, keyword=${productSearch.keyword}, minPrice=${productSearch.minPrice}, maxPrice=${productSearch.maxPrice})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</th:block>