<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<style>
    .errDiv{
        font-size: 8px;
        color: darkred;
        text-decoration-color: darkred;
        text-emphasis-color: darkred;
    }
</style>
<th:block layout:fragment="html_head">
    <title>회원 가입 하기</title>
</th:block>
<th:block layout:fragment="body_main">
    <br><br>
    <div style="margin-left: 75px"><h2>회원가입</h2></div>
    <hr style="padding-bottom: 40px">
    <div class="container" style="padding-bottom: 100px;">
        <div style="width: 30%; margin: auto;">
        <form method="post" th:action="@{/users/join}" th:object="${userJoinForm}" action="#">
            <div style="padding-bottom: 25px;">
                <label for="name"><small>이름</small></label>
                <input type="text" class="form-control" id="name" th:field="*{name}" />
                <div class="errDiv" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            <div style="padding-bottom: 25px;">
                <label for="email"><small>이메일</small></label>
                <input type="text" class="form-control" id="email" th:field="*{email}" />
                <div class="errDiv" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

            </div>
            <div style="padding-bottom: 25px;">
                <label for="pw1"><small>비밀번호</small></label>
                <input type="password" class="form-control" id="pw1" name = "password" />
                <div class="errDiv" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
            <div style="padding-bottom: 25px;">
                <label for="pw2"><small>비밀번호 확인</small></label>
                <input type="password" class="form-control" id="pw2" name="rePassword"/>
                <div class="errDiv" th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}"></div>
            </div>
            <div style="margin: auto;">
                <button type="submit" class="btn btn-dark"><small>가입 하기</small></button>
            </div>
        </form>
        </div>
    </div>
</th:block>