<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <a href="//github.com/SehwaKim/stickershop" target="_blank">
                <svg id="i-github" viewBox="0 0 64 64" width="80" height="80">
                    <path stroke-width="0" fill="currentColor" d="M32 0 C14 0 0 14 0 32 0 53 19 62 22 62 24 62 24 61 24 60 L24 55 C17 57 14 53 13 50 13 50 13 49 11 47 10 46 6 44 10 44 13 44 15 48 15 48 18 52 22 51 24 50 24 48 26 46 26 46 18 45 12 42 12 31 12 27 13 24 15 22 15 22 13 18 15 13 15 13 20 13 24 17 27 15 37 15 40 17 44 13 49 13 49 13 51 20 49 22 49 22 51 24 52 27 52 31 52 42 45 45 38 46 39 47 40 49 40 52 L40 60 C40 61 40 62 42 62 45 62 64 53 64 32 64 14 50 0 32 0 Z" />
                </svg>
            </a>
            <small style="padding-top: 5px;" class="d-block mb-3 text-muted">&copy; 2018 Copyright StickerShop. All rights reserved.</small>
        </div>
        <div class="col-6 col-md">
            <div style="padding-bottom: 10px"><h5>About</h5></div>
            <ul class="list-unstyled text-small text-muted">
                <li><small class="d-block text-muted">주식회사 스티커샵 | 대표 SNS</small></li>
                <li><small class="d-block text-muted">[사업자등록번호] 331-90-201805</small></li>
                <li><small class="d-block text-muted">[통신판매업신고] 2018-서울강남-9087</small></li>
                <li><small class="d-block text-muted">[사업자정보확인]</small></li>
                <li><small class="d-block text-muted">사업장주소 : 서울특별시 강남구 강남대로 364</small></li>
                <li><small class="d-block text-muted">미왕빌딩 11층 D강의실</small></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <div style="padding-bottom: 10px"><h5>Contact</h5></div>
            <ul class="list-unstyled text-small text-muted">
                <li><small class="d-block text-muted">Tel. 02-4343-8282</small></li>
                <li><small class="d-block text-muted">Email. sehwakm@gmail.com</small></li>
                <li><small class="d-block text-muted">평일 10:00 - 18:00</small></li>
                <li><small class="d-block text-muted">(토/일/공휴일 휴무)</small></li>
            </ul>
        </div>
    </div>
</footer>